[submodule "lse-odoo/lse_odoo_support"]
	path = lse-odoo/lse_odoo_support
	url = git@github.com:lse-odoo/lse_odoo_support.git
	branch = master

[submodule "OCA/rest-framework"]
	path = OCA/rest-framework
	url = git@github.com:OCA/rest-framework.git
	branch = 12.0
